<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h2>Congratulations, you've created a new Transaction ...</h2>
    <p>User: <%= session[:user][:first_name] %>
    <p>Card Number(PAN): <%= session[:card]['pan'] %></p>
    <p>Transaction: <%= session[:transaction]['token'] %></p>
    <p>Transaction Amount: <%= session[:transaction]['amount'] %></p>
    <p>Transaction Status: <%= session[:transaction]['state'] %></p>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1>Add a Webhook...</h1>
    <p>Get notified the minute a transaction comes through</p>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@webhook) do |f| %>
      <%= f.label :phone %>
      <%= f.text_field :phone %>

      <%= f.submit "Add Webhook", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>