<div class="jumbotron marqeta-main">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 vertical-center">
      <h1 class="center">Success!! Your transaction is now <%= @status %> </h1>

      <br>
      <br>
      <div class="transaction">
        <div class="trans-wrapper">
          <div class="transaction-img">
            <%= image_tag 'terminal', size: '180x200'  %><%= image_tag 'arrow', size: '140x75' %>
          </div>

          <div class="main-trans">
            <p>User: <%= @user %></p>
            <p>Card: <%= @card %></p>
            <p>Network: <%= @network %></p>
            <p>Merchant: <%= @merchant %></p>
            <p>City: <%= @city %></p>
            <p>State: <%= @state %></p>
            <p>Amount: $<%= @amount %>0</p>
            <p>Status: <%= @status %></p>
            <p>Note: <%= session[:transaction]['response']['memo']%></p>
          </div>

          <div class="transaction-img">
            <%= image_tag 'arrow', size: '140x75'%><%= image_tag 'card-acct', size: '180x200' %>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="action-call center">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="action-call">
        <h1 >Let's add a Webhook</h1>
        <p>Get notified immediately when a transaction goes through</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= form_for(@webhook) do |f| %>
        <%= f.text_field :phone, placeholder: "Enter your phone number", required: true %>

        <%= f.hidden_field(:amount, value: @amount) %>
        <%= f.hidden_field(:user, value: @user) %>
        <%= f.hidden_field(:merchant, value: @merchant) %>
        <%= f.hidden_field(:city, value: @city) %>
        <%= f.hidden_field(:state, value: @state) %>
        <%= f.hidden_field(:network, value: @network) %>
        <%= f.hidden_field(:status, value: @status) %>

        <%= f.submit "Add Webhook", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>

<br>
<br>

<div class="row">
  <div class="col-md-6 col-md-offset-4">
    <p>This will send a POST request to <span>/webhooks</span>
    with the following body:</p>
  </div>
</div>