<div class="jumbotron marqeta-main">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">

      <div class="title col-md-2 center">
        <h1>Congratulations!!!</h1>
        <h2>You've just created your first user ...</h2>
      </div>

      <div id="user">
        <div class="user-img">
          <%= image_tag 'user-beard', size: "200x300" %>
        </div>
        
        <div class="user-details">
          <p>Name: <%= session[:user][:first_name] %></p>
          <p>Account: <%= session[:card_product]['name'] %></p>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="action-call center">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1>Now let's make a card</h1>
      <p>so <%= session[:user][:first_name] %> can start making purchases...</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2 col-md-offset-5">
      <%= form_for(@card) do |f| %>
        <%= f.submit "Create Card", class: "btn btn-primary" %>
      <% end %>
    </div>
</div>
</div>

<br>
<br>

<div class="col-md-12  divider">
  <h3>SEE WHAT'S GOING ON BEHIND THE SCENES...</h3>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3 info">
    <h4>CREATE A CARD</h4>
    <p>This will send a <span class="code">POST</span> request to <span class="code">/cards</span>
    with the following body:</p>
    <pre><p class="code">{ 
       "user_token": "**USER TOKEN FROM PREVIOUS STEP**",
       "card_product_token": "**CARD PRODUCT TOKEN FROM PREVIOUS STEP**" 
}</p></pre>
    <p>The code box above provides a JSON-formatted message body for creating a card. Note that this card will be active upon issue because of the card product's configuration.</p>
  </div>
</div>